body, html {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
img {
    display: none;
}